body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
}

h2, h3 {
    color: #5a5a5a;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}
.copy {
    cursor: pointer;
}

.copy:hover {
    color: hotpink;
}

.question {
    background-color: #add8e6; /* Lighter blue */
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.answer {
    background-color: steelblue; /* Lighter salmon */
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="file"] {
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 4px;
}

pre {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Sparkling fun */
.spark {
    position: absolute;
    border-radius: 50%;
    background-color: gold;
    width: 5px;
    height: 5px;
    opacity: 0;
    animation: spark-effect 1s forwards;
}

@keyframes spark-effect {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}
